*.jl.*.cov
*.jl.cov
*.jl.mem
*Manifest.toml
docs/build/
*.ipynb_checkpoints*
*.md_checkpoints
*.ipynb.md
docs/src
data
.snakemake
notebooks/scripts/kmer-saturation*
*.ipynb_checkpoints/
*.zip
*/kmer-saturation/*
*.gz
*.fastq
*.fq
*.fna
*.faa
*.fasta
*.fa
*tmp/*
*snakemake/logs/*
*.bam
*.sam
projects/me-cfs/reference_data/
*.out
*.err
projects/me-cfs/results/
projects/viral-exposome-discovery/results/
